body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
      .content {
    font-size: 20px;
    max-width: 120%;
    margin: auto;

    mjx-math {
  font-size: 130% !important;
}
      }
    //  h1 {
    //   color: black;
    //  }
}
